*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  text-transform: capitalize;
  font-family: 'Poppins', sans-serif;
  transition: all .2s ease-out;
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
section{
  width: 100%;
  min-height: 100vh;
  padding: 2rem 9%;
}
.btn{
  padding: 1rem 2rem;
  color: green;
  border: 1px solid green;
  font-size: 2rem;
  border-radius: .5rem;

  cursor: pointer;
}
.btn:hover{
  background-color: green;
  color: white;
}

.heading{
  text-align: center;
  font-size: 5rem;padding-bottom: 3rem;
}